# Vrac
*~
*.log
*.aux
*.toc
*.pdf

# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Répertoires générés
DOCS/html
DOCS/latex

# Fichiers générés
*.sessions
*.pid
*.swp

# Archives .git (obligatoire après panne de courant =) )
.git-old
